<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dotnetnew_mvc</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", false)
    @if (!IsSectionDefined("Styles"))
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
              asp-fallback-href="~/css/materialize.min.css"
              asp-fallback-test-class="material-icons" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    }
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo">ASP.NET MVC Index</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a asp-area="" asp-controller="Home" asp-action="SPAOne">SPA One</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="SPATwo">SPA Two</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="SPAOne">SPA One</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="SPATwo">SPA Two</a></li>
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - dotnetnew_mvc</p>
        </footer>
    </div>

    @RenderSection("Scripts", false)
    @if (!IsSectionDefined("Scripts"))
    {
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/js/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
                asp-fallback-src="~/js/materialize.min.js"
                asp-fallback-test="window.material"
                crossorigin="anonymous">
        </script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });
        </script>
    }

</body>
</html>
