@page
@{
    ViewBag.Title = "Pokemon";
    Layout = "_Layout";
}

@section Styles
{
    <!--dont call from CDN because CSS is bundled-->
}

<div id="loader"></div>

<section aurelia-app="main" start="routes/pokemon-spa/pokemon-spa">
</section>


@section Scripts
{
    <partial name="_AureliaBundleInclude" />
}