@{
    ViewBag.Title = "SPA One";
    Layout = "_Layout";
}

<h2>SPA One</h2>

<div class="row">
    <div class="col-md-9">
        <section aurelia-app="main" start="spa-one"></section>
    </div>
    <div class="col-md-3">
        ...Right side..
    </div>
</div>