@{
    ViewBag.Title = "SPA Two";
    Layout = "_Layout";
}

@section Styles
{
    <!--dont call from CDN because CSS is bundled-->
}

<h2>SPA Two</h2>

<div id="loader"></div>

<div class="row">
    <div class="col-md-3">...Left Side...</div>
    <div class="col-md-9">
        <section aurelia-app="main" start="spa-two">
        </section>
    </div>
</div>

@section Scripts
{
    <script src="~/js/vendor-bundle.js"></script>

    <script>
        SystemJS.import("aurelia-bootstrapper").catch(function (err) { console.log(err); });
    </script>
}