@{
    ViewBag.Title = "SPA Two";
    Layout = "_Layout";
}

<h2>SPA Two</h2>

<div class="row">
    <div class="col-md-3">...Left Side...</div>
    <div class="col-md-9">
        <section aurelia-app="main" start="spa-two"></section>
    </div>
</div>
