@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h2>ASP.NET Core + Aurelia + BT4</h2>

    <div class="alert alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Click on SPA One or SPA Two from the navigation menu.
    </div>
</section>


