@page
@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h2>ASP.NET 6 + Aurelia + BT5</h2>

    <div class="alert alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Click on Rolodex or Pokedex from the navigation menu above.
    </div>
</section>


